##############
### k8s
##############

server:
 port: 8001


spring:  
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver    
    url: jdbc:mysql://host.docker.internal:3306/blackstar?autoReconnect=true&useUnicode=true&characterEncoding=utf8    
    username: blackstar
    password: 1234
    hikari: 
      pool-name: hikari-cp
      maximum-pool-size: 30
      minimum-idle: 2
      data-source-properties: 
          cachePrepStmts: true
          prepStmtCacheSize: 250
          prepStmtCacheSqlLimit: 2048
          useServerPrepStmts: true
  



logging:
  level:  
    com.example.board: INFO 
    
